# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\collage-1st\CourseWeb\Task-03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
